@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(23,34,77);
    background: linear-gradient(180deg, rgba(23,34,77,1) 0%, rgba(0,212,255,1) 100%);
}

img {
    border-radius: 8px;
}
p {
    margin: 30px 0 0;
    padding: 0;
}

p {
    color: #17224d;
}

.title {
    text-align: center;
    color: white;
}

.project_slider {
    padding: 20px;
    background: #ececec;
}
.cert_slider {
    padding: 20px;
    
}
.p-sertifikat {
    color: white;
}

.slick-slider button {
    display: none!important;
}

.slick-slide {
    color: #333;
    padding: 40px 0;
    font-size: 1.25em;
    font-family: "Verdana";
    text-align: center;
    pointer-events: none;
}

.slick-slide .desc {
    opacity: 0;
}

.slick-slide .desc > * {
    transition: all 900ms ease;
}

.slick-slide .desc h2 {
    position: relative;
    left: 50px;
    line-height: 1;
}

.slick-slide .desc p {
    position: relative;
    top: 50px;
    opacity: 0;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    padding: 1px;
    background: #ccc;
    margin: 10px 5px;
    width: 40px;
    height: 5px;
}

.slick-dots li.slick-active {
    background: #17224d;
}

.slick-dots button {
    display: none;
}


.slick-slide {
    opacity: 0.2;
    transition: all 300ms ease;
}

.slick-current {
    opacity: 1;
    transform: scale(1.1);
}

.slick-current .desc {
    opacity: 1;
}

.slick-current .desc h2 {
    left: 0;
}

.slick-current .desc p {
    top: 0;
    opacity: 1;
}

.cert {
    width: 70%;
}

.badge {
    color: #fff;
    background-color: #17224d;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    margin-top: 10px;
}

.button {
    text-align: center;
}
.btn {
    border-radius: 8px;
    text-decoration: none;
    padding: 24px;
    margin: 10px;
    background-color: #fff;
    color: #17224d;
    font-size: 18px;
    transition: all 0.4s;
}

.btn:hover {
    background-color: #17224d;
    color: #fff;
    transition: all 0.4s;
}

@media (max-width: 576px) { 
    .btn {
        width: 20px;
    }
 }